In [ ]:
# Introduction to Python Basic Syntax
''' abbbb 
aakkk akkkeie'''

In [3]:
print("Welcome to Python class")
print("Ugrad")

Welcome to Python class
Ugrad

In [8]:
#variable
var = 'Mike'
Var = 'John'
VAR = 'Sally'

In [9]:
print(var)
print(Var)     
print(VAR)

Mike
John
Sally

In [10]:
var = 'Upgrad'

In [11]:
print(var)

Upgrad

In [12]:
number = input("What is the first number")
print(number)

What is the first number10
10

In [14]:
name =  input("Enter your name : ")
print('Welcome', name)

Enter your name : Karan
Welcome Karan

In [17]:
#data type
integer_num = 10
floating_num = 1.3
abc = 'John'
boolean = True

print(type(abc))
print(type(floating_num))
print(type(integer_num))

<class 'str'>
<class 'float'>
<class 'int'>

In [18]:
print(float(integer_num))

10.0

In [19]:
# Arithmatic Operations
a = 6
b = 7
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a**b)

13
-1
42
0.8571428571428571
279936

In [20]:
# PEDMAS
print((4*5)-9+6/7)

11.857142857142858

In [21]:
abc = 'We are learning basic python syntax'
len(abc)

35

In [23]:
abc[1]

'e'

In [25]:
print(abc.upper())
print(abc.lower())

WE ARE LEARNING BASIC PYTHON SYNTAX
we are learning basic python syntax

In [27]:
spaces = "    Trim Whitespaces   "
print(spaces)
print(spaces.strip())

    Trim Whitespaces
Trim Whitespaces

In [29]:
print(spaces.count('m'))

1

In [32]:
A  = 'Data'
B = 'Analysis'
C =  'Python'

print("{0} {1} in {2}".format(B,A,C))

Analysis Data in Python

In [34]:
#Comparison Operator
a = 10
b = 10
print(a>b) # "==","!=",">","<",">=","<="
print(a==b)
print(a!=b)

False
True
False

In [38]:
# logical operator (and, or, not)

x = 20
print (x<21 and x<25)
print(x>21 or x<25)
print(not(x<21 and x<25))

True
True
False

In [40]:
# write a python program to find the square of a number 5

num =  10
sq = num**2
print(sq)

100

In [42]:
# write a program to ask for an input from user and do the cube of that number
# input # exponential operator # print
num = int(input("Please enter the number: "))
cube = num**3
print(cube)

Please enter the number: 4
64

In [43]:
# write a program to find the average of three numbers that is 10,20 and 30
a = 10
b = 20
c = 30
avg = (a+b+c)/3
print(avg)

20.0

In [44]:
# convert the INR to Dollars for the amount entered by the user, 1 dollar  =  INR 85
inr = float(input("Enter amount in INR: ")) 
dollar = inr / 85 
print(dollar)

Enter amount in INR: 100
1.1764705882352942

In [49]:
# if-else conditions
a = 300
b = 300
if b>a:
    print('b is greater than a')
elif a==b:
    print('a and b are equal')
else:
    print('a is greater than b')

a and b are equal

In [51]:
score = int(input("Enter your test score : "))
passing  = 40
distinction  = 75

if score > distinction:
    print("You earned a distinction")
    
if score >= passing and score < distinction:
    print("You have passed")
    
if score < passing:
    print("Sorry, you have failed")

Enter your test score : 80
You earned a distinction

In [53]:
# accept two integers from the user and return there product
# if product of two numbers is greater than 1000, then output should be the sum of two integers rather than the product

a = int(input("First number : "))
b = int(input("Second number : "))
prod = a*b

if prod > 1000:
    print(a+b)
else:
    print(prod)

First number : 50
Second number : 25
75

In [55]:
# write a program to print loan eligibility in case loan applied is greater than twice the income then it should give output of
# not eligible for loan other output is eligible for loan

income = int(input("Please enter your income: "))
loan_amount = int(input("Please enter your loan amount: "))

if loan_amount > 2* income:
    print("You are not eligible for loan")
else:
    print("Eligible for loan")

Please enter your income: 100000
Please enter your loan amount: 50000
Eligible for loan

In [ ]:
# while loops (iterate over specific number of times)
# for loops (iterate over ranges, data structures - list, dictionaries)

In [66]:
a =  1 # intialization
while a<=20:
    print(a)
    a = a+1 #iteration a+=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [67]:
for num in range(0,5):
    print(num)

0
1
2
3
4