In [ ]:
# Data Structures - Tuples, Lists, Dictionaries, Sets

In [ ]:
#Tuples
# Ordered sequence of mixed types
# Add values as comma-seperated elements within paranthesis

In [21]:
t = ('Upgrad',12,4.5,10)
sorted(t)

TypeError: '<' not supported between instances of 'int' and 'str'

In [2]:
type(t)

tuple

In [5]:
t[3]

10

In [8]:
t[-4]

'Upgrad'

In [12]:
#slicing
t[2:]

(4.5, 10)

In [13]:
t = (2,4,5,7,3)
sum(t)

21

In [14]:
min(t)

2

In [15]:
max(t)

7

In [16]:
t[3] = 10

TypeError: 'tuple' object does not support item assignment

In [19]:
x = sorted(t)
tuple(x)

(2, 3, 4, 5, 7)

In [ ]:
# list 
# Mixed data types
# comma separated values within square brackets

In [22]:
l  = ['USA',23,6,'New York']
print(l)

['USA', 23, 6, 'New York']

In [23]:
type(l)

list

In [25]:
l = [32,24,65,9]
l.sort()
print(l)

[9, 24, 32, 65]

In [26]:
l.sort(reverse = True)
print(l)

[65, 32, 24, 9]

In [27]:
l[2]

24

In [28]:
a  = ['apple','banana','kiwi','pineapple']
print(a)

['apple', 'banana', 'kiwi', 'pineapple']

In [30]:
a.insert(1,'strawberry')
print(a)

['apple', 'strawberry', 'strawberry', 'banana', 'kiwi', 'pineapple']

In [31]:
a.pop(1)

'strawberry'

In [32]:
# Dictionary
a =  {'Emp Names': 'Karan',
     'Emp ID': 1234,
     'Emp Class': 'Data Science',
     'Emp Marks': 65}

In [33]:
type(a)

dict

In [34]:
a.keys()

dict_keys(['Emp Names', 'Emp ID', 'Emp Class', 'Emp Marks'])

In [35]:
a.values()

dict_values(['Karan', 1234, 'Data Science', 65])

In [36]:
a.items()

dict_items([('Emp Names', 'Karan'), ('Emp ID', 1234), ('Emp Class', 'Data Science'), ('Emp Marks', 65)])

In [37]:
a.update({'Emp ID': 5678})
print(a)

{'Emp Names': 'Karan', 'Emp ID': 5678, 'Emp Class': 'Data Science', 'Emp Marks': 65}

In [38]:
# Sets
num = [1,4,2,4,3,2,5,5]
set_num = set(num)
print(set_num)

{1, 2, 3, 4, 5}

In [39]:
len(set_num)

5

In [40]:
#Set operations
A = {0,2,4,6,8}
B = {1,2,3,4,5}

In [41]:
# UNION
print(A | B)
print(A.union(B))

{0, 1, 2, 3, 4, 5, 6, 8}
{0, 1, 2, 3, 4, 5, 6, 8}

In [42]:
#Intersection
print(A & B)
print(A.intersection(B))

{2, 4}
{2, 4}

In [43]:
#Difference
print(A-B)
print(A.difference(B))

{0, 8, 6}
{0, 8, 6}

In [48]:
for a in range(1,10,2):
    print(a, end = " ")

1 3 5 7 9

In [47]:
cities = ['Hyd','Mum','Blr','Del']
for x in cities:
    print(x, end = " ")

Hyd Mum Blr Del

In [50]:
names = ['Alice','Bob','Dan']
age = [25,30,22]
identification_no = [1,2,3]

for x,y,z in zip(names,age,identification_no):
    print(x,y,z)

Alice 25 1
Bob 30 2
Dan 22 3

In [52]:
# iterate through the list and print only those numbers which are divisible by 5
list1 = [10,20,25,21,34,55,60]
for x in list1:
    if x%3==0:
        print(x)

21
60

In [53]:
# accept a number from the user as input and print it's table for the range (1,11)
a =  int(input("Please enter the number: "))
for x in range(1,11):
    product = x*a
    print(product)

Please enter the number: 10
10
20
30
40
50
60
70
80
90
100

In [55]:
# iterate through dictionaries
students_data = {1: ['Sam',24],2:['Rob',25],3:['Jack',26],4:['Campry',24]}
for x in students_data.keys():
    print(x)

1
2
3
4

In [61]:
for x in students_data.values():
    print(x)

['Sam', 24]
['Rob', 25]
['Jack', 26]
['Campry', 24]

In [73]:
cube = []
for x in range(1,6):
    cube.append(x**3)
print(cube)

[1, 8, 27, 64, 125]

In [67]:
# list comprehension
square_list = [x**10 for x in range(1,6)]
print(square_list)

[1, 1024, 59049, 1048576, 9765625]

In [68]:
words  = ['apple','banana','kiwi','pineapple']
length = [len(x) for x in words]
print(length)

[5, 6, 4, 9]

In [69]:
length = {x:len(x) for x in words}
print(length)

{'apple': 5, 'banana': 6, 'kiwi': 4, 'pineapple': 9}

In [71]:
#dictionary_comprehension
original = {'a':1,'b':2,'c':3,'d':4}
new = {x:y**2 for x,y in original.items()}
print(new)

{'a': 1, 'b': 4, 'c': 9, 'd': 16}

In [74]:
my_string =  'The second session for today is on data structures'
for x in my_string:
    print(x)

T
h
e

s
e
c
o
n
d

s
e
s
s
i
o
n

f
o
r

t
o
d
a
y

i
s

o
n

d
a
t
a

s
t
r
u
c
t
u
r
e
s

In [75]:
vowels = ''
for a in my_string:
    if a in 'aeiou':
        vowels += ' ' + a
print(vowels)

 e e o e i o o o a i o a a u u e

In [82]:
my_string = str(input("Please enter your text: "))
vowels = 'aeiouAIEOU'
vowels_count = 0
for a in my_string:
    if a in vowels:
        vowels_count += 1
print(vowels_count)

Please enter your text: Solving for vowel problem to get the count
12

In [83]:
# given a list of product prices, we need to come up with a new list of discounted prices by 10%
prices = [50,70,120,300,450]
#new = [45,63,108,270,405]
new = [x*0.9 for x in prices]
print(new)

[45.0, 63.0, 108.0, 270.0, 405.0]

In [86]:
# % of profit from sales
sales = [200,300,400,500,600]
profit = [50,150,130,200,250]
profit_per = []

for i,j in zip(sales,profit):
    profit_per.append((j/i)*100)
print(profit_per)

[25.0, 50.0, 32.5, 40.0, 41.66666666666667]

In [89]:
# program to check whether the given number is multiple of both 5 and 7
num =  int(input("Enter the num: "))
if ((num%5==0) and(num%7==0)):
     print(num, 'is divisible by 5 and 7')
else:
    print(num, 'is not divisible by 5 and 7')

Enter the num: 35
35 is divisible by 5 and 7

In [ ]:
# Homework to write a program and find all even and odd numbers from the sequence given
# hint:- if-else, for loops, num%2 ==0
num = '8388482378903456'

In [90]:
nested_list =  [[1,2,3],[4,5,6],[7,8,9]]
for x in nested_list:
     for y in x:
            print(y)

1
2
3
4
5
6
7
8
9